body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
}

header {
  background-color: #020617;
  padding: 40px;
  text-align: center;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

h1, h2 {
  color: #38bdf8;
}

footer {
  text-align: center;
  padding: 20px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
